{% extends 'base.html' %}
{% load static i18n %}

{% block body %}
    <body>
    <div class="w3-bar w3-amber w3-text-white">
        <h2 class="w3-center">{{ name }}</h2>
        {% if show_question_progress %}
        <h5 class="w3-center">You have answered {{ answered_questions }} out of {{ total_questions }} questions</h5>
        {% endif %}
    </div>
    <form method="POST" style="display: none">
        {% csrf_token %}
        {{ form.as_p }}
    </form>

    <div class="swipe-container">
        <div class="question-wrapper">
            <h3 class="undo">{% trans 'undo' %}</h3>
            <h3 class="no">{% trans 'no' %}</h3>
            <div class="question">
                <h1>{{ statement }}</h1>
            </div>
            <h3 class="yes">{% trans 'yes' %}</h3>
            {% if can_skip %}
            <h3 class="skip">{% trans 'skip' %}</h3>
            {% endif %}
        </div>
    </div>

    <p class="help desktop">
        {% trans 'Use your keyboard to answer:' %}
        <span class="key left">{% trans 'undo' %}</span>
        <span class="key up">{% trans 'yes' %}</span>
        <span class="key down">{% trans 'no' %}</span>
        {% if can_skip %}
        <span class="key right">{% trans 'skip' %}</span>
        {% endif %}
    </p>
    <p class="help mobile">
        {% trans 'Swipe up to reply yes.' %}<br>
        {% trans 'Swipe down to reply no.' %}<br>
        {% if can_skip %}
        {% trans 'Swipe to left to skip.' %}<br>
        {% endif %}
        {% trans 'Swipe to right to undo.' %}
    </p>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
    <script src="{% static 'threesixty/survey.js' %}"></script>
    <script>
        $(() => window.question = new Question({userCanSkip:("{{can_skip}}"  === 'True')}) )
    </script>
    </body>
{% endblock %}
