name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  DATABASE_URL: "postgres://postgres:postgres@localhost/threesixty"
  SECRET_KEY: super-secret-key
  DEBUG: "True"

jobs:
  tests:
    runs-on: ubuntu-20.04
    services:
      postgresql:
        image: postgres:13.5
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: threesixty
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.4

      - name: Install Poetry
        uses: snok/install-poetry@v1.2.0
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install dependencies
        run: poetry install --no-interaction --no-root

      - name: run linters via pre-commit
        run: |
          poetry run pre-commit run --all --show-diff-on-failure --color=always

      - name: collectstatic
        run: poetry run python manage.py collectstatic --no-input

      - name: tests
        run: poetry run coverage run --source threesixty -m pytest

      - name: codecov
        run: poetry run codecov --required
